<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
<!--/*@thymesVar id="userDto" type="com.ivanov.skblabform.user.UserDto"*/-->
    <form action="#" th:action="@{/register}" th:object="${userDto}" method="post">
        <label>Логин <input type="text" th:field="*{login}" /></label>
        <label>Пароль <input type="password" th:field="*{password}"></label>
        <label>Почта <input type="email" th:field="*{email}"></label>
        <label>ФИО <input type="text" th:field="*{name}"></label>
        <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
        <input type="submit" value="Отправить">
    </form>
</body>
</html>